[submodule "external/pybind11"]
	path = external/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
